# Ignore all the files in the pycache folder
__pycache__/
*.pyc

# Ignore the Data folder
Data/

# Ignore the saved models folder
Saved Models/

# Ignore the plots folder
Plots/

# Ignore all the wand files
wandb/

